$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/*
 * App Styles
 */
body {
    /*
  background: url('../images/music-monster.png') no-repeat 85% 73%;
  background-size: 45%;
  background-attachment: fixed;
  */
  background-image: url('../images/music-monster.png');
}
.app-title {
  background: rgba(211, 36, 43, 0.89);
  padding: .4em;
  margin: 0;
  margin-bottom: 1em;
  color: #FCFCFC;  
}
#shared-links ol {
  padding: 0;
  list-style: none;
}
#shared-links li {
  background: rgba(67, 20, 119, 0.03);
  margin-bottom: 2px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}
#shared-links li:hover {
  background: rgba(67, 20, 119, 0.1);
}
#shared-links a {
  color: #88345C;
  text-decoration: none;
  display: block;
  padding: 0.3em .6em;
  word-break: break-all;
}
#shared-links a:hover { color: #428BCA };

.music-monster {
    width: 100%;
    height: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: white;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}