/*
 * App Styles
 */
body {
  background: url('../../../music-monster.png') no-repeat 85% 73%;
  background-size: 45%;
  background-attachment: fixed;
}
.app-title {
  background: rgba(211, 36, 43, 0.89);
  padding: .67em;
  margin: 0;
  margin-bottom: 1em;
  color: #FCFCFC;  
}
ul, ol {
  padding-left: 2em;
}